!!!
html
	head
		title Sitemap Viewer
		link(href="/css/style.css", rel="stylesheet", type="text/css")
		script(src="//code.jquery.com/jquery-1.10.1.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js")
		script(src="/js/vendor/uri.js")
	body
		script.
			var db = !{JSON.stringify(db)};
			var sitemap = !{sitemap};
			var tags = !{JSON.stringify(tags)};
		script(src="/js/script.js")