body {
	font-size: 12px;
	font-family: sans-serif;
}
h3 {
	background: #ccc;
	cursor: pointer;
	margin: 0;
	padding: 0.5em 0;
}
tr:nth-child(odd) {
	background: #eee;
}
.url, .locales {
	max-width: 300px;
	overflow: hidden;
	overflow-wrap: break-word;
}
.lastMod, .lastUpdated, .lastDump, .lastParsed, .locales, .links {
	padding: 0 0.5em;
	white-space: nowrap;
}
.d13, .d12 {
	color: green;
}
.d11, .d10 {
	color: orange;
}
.d09, .d08, .d07, .d06, .d05 {
	color: red;
}
.links span {
	margin-right: 0.5em;
}